# Секрети та налаштування
.env

# Віртуальне середовище (якщо створював)
venv/
ENV/

# Тимчасові файли Python
__pycache__/
*.py[cod]

# Тимчасові медіа-файли (щоб не забити репозиторій сміттям)
*.mp3
*.mp4

# Системні файли
.vscode/
.idea/
Thumbs.db
*.exe